openapi: 3.0.3
info:
  title: Papa Johns Order Service API (Client E-commerce)
  description: API for managing customer orders and identity in the Papa Johns delivery system. Orchestration callbacks are handled by the Employee BFF.
  version: 1.1.0
servers:
  - url: https://api.papajohns.com
    description: Production server

# 1. ESQUEMAS DE SEGURIDAD
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # --- Auth Schemas ---
    AuthRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          example: "cliente@email.com"
        password:
          type: string
          format: password
          example: "SuperSecreto123"
        name:
          type: string
          example: "Carlos Mendoza"

    LoginResponse:
      type: object
      properties:
        message:
          type: string
          example: "Login exitoso"
        token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6Ik..."
        user:
          type: object
          properties:
            email:
              type: string
            name:
              type: string

    # --- Order Schemas ---
    CreateOrderRequest:
      type: object
      required:
        - items
      properties:
        customerName:
          type: string
          example: "Carlos Mendoza"
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        totalAmount:
          type: number
          example: 35.90
        source:
          type: string
          default: WEB

    OrderItem:
      type: object
      properties:
        name:
          type: string
          example: "Pizza Pepperoni Familiar"
        quantity:
          type: integer
          example: 1
        price:
          type: number
          example: 35.90

    CreateOrderResponse:
      type: object
      properties:
        message:
          type: string
        orderId:
          type: string
        status:
          type: string

    UserOrdersResponse:
      type: object
      properties:
        current:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        history:
          type: array
          items:
            $ref: '#/components/schemas/Order'

    Order:
      type: object
      properties:
        orderId:
          type: string
        tenantId:
          type: string
        userId:
          type: string
        customerName:
          type: string
        items:
          type: array
          items:
            $ref: '#/components/schemas/OrderItem'
        totalAmount:
          type: number
        source:
          type: string
        status:
          type: string
        stages:
          type: object
          properties:
            RECEPCION:
              $ref: '#/components/schemas/StageDetail'
            COCINA:
              $ref: '#/components/schemas/StageDetail'
            EMPAQUE:
              $ref: '#/components/schemas/StageDetail'
            DESPACHO:
              $ref: '#/components/schemas/StageDetail'
            ENTREGADO:
              $ref: '#/components/schemas/StageDetail'
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    StageDetail:
      type: object
      properties:
        startedAt:
          type: string
          format: date-time
          nullable: true
        endedAt:
          type: string
          format: date-time
          nullable: true
        responsable:
          type: string
          nullable: true

paths:
  # --- RUTAS DE IDENTIDAD (Públicas) ---
  /auth/register:
    post:
      summary: Register a new user
      operationId: registerUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        '201':
          description: User registered successfully
        '400':
          description: Bad request - Missing fields or user already exists

  /auth/login:
    post:
      summary: Authenticate user and obtain JWT
      operationId: loginUser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials

  # --- RUTAS DE PEDIDOS ---
  /tenants/{tenantId}/orders:
    post:
      summary: Create a new order
      operationId: createOrder
      security:
        - bearerAuth: [] # Requiere JWT
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized - Invalid or missing JWT
        '500':
          description: Internal server error

  /tenants/{tenantId}/users/me/orders:
    get:
      summary: Get order history for the authenticated user
      operationId: getUserOrders
      security:
        - bearerAuth: [] # Requiere JWT
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User orders retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserOrdersResponse'
        '401':
          description: Unauthorized - Invalid or missing JWT
        '500':
          description: Internal server error

  /tenants/{tenantId}/orders/{id}:
    get:
      summary: Get live order details by ID (Read Model)
      operationId: getOrder
      parameters:
        - name: tenantId
          in: path
          required: true
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Order not found
        '500':
          description: Internal server error